body {
  background-color: white;
  font-family: 'helvetica', sans-serif;
  text-align: center;
}

h1 {
    font-family: 'helvetica', sans-serif;
    padding: 15px 10px;
    margin: 5px;
    position: center;
    background-color: #f1c9d8;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}

#navigation a {
  padding: 25px;
  background-color: #f1c9d8;
  color: white;
  border-radius: 5px;
  margin: 2px;
  float: center;
}

p {
  font-family: arial;
  font-size: 11px;
  color: #f1c9d8;
  position: relative;
}

#content {
  display: inline-block;
  margin-right: 25px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
